.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--border-color);
  padding: 5rem 1rem 1rem 1rem;
  margin: auto;
  gap: 3rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
}
.about-copy {
  padding: 0;
}
.section-headline {
  padding: 0.625rem 0;
  font-size: var(--fs-g);
}
.about-text {
  font-size: var(--fs-base);
  font-weight: var(--text-weight);
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.about-cards {
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: 1.75rem;
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 0.325rem;
  height: 15rem;
  width: 100%;
}

.about-cards-img {
  border: 0.5px solid var(--secondary-hover);
  border-radius: 0.9rem;
  padding: 0.5rem;
  width: 36px;
}
.about-cards-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 20%;
  gap: 0.5rem;
  min-width: 100%;
}
.about-cards-item.two-lines {
  padding: 0.5rem 10%;
}
.about-cards-items-copy {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.about-cards-items-title {
  margin-bottom: 0.5rem;
  font-size: var(--fs-detail);
}
.about-cards-items-text {
  line-height: 1.4;
  font-size: var(--fs-card);
}
/*==========desktop==========*/
@media screen and (min-width: 1024px) {
  .about-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .about-copy {
    flex: 1;
  }
  .about-cards {
    flex: 1;
  }
}
