/*==========mobile==========*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;
}
/* linhas dos dois lados do </> */
.footer-divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: var(--container-width);
}
.footer-divider::before,
.footer-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--border-color);
}
.footer-divider-logo {
  font-weight: var(--title-weight);
}
.footer-copy {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.footer-title {
  font-size: var(--fs-base);
  font-weight: var(--title-weight);
  color: var(--title-color);
}
.footer-text {
  font-size: var(--fs-detail);
  color: var(--text-color);
}
.footer-rights {
  font-size: var(--fs-card);
  color: var(--text-color);
}
