.projects {
  display: flex;
  padding: 5rem 1rem 1rem 1rem;
  width: 100%;
  border-top: 1px solid var(--border-color);
}
.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.projects-cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.projects-cards-item {
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  border-radius: 1.75rem;
  border: 1px solid var(--border-color);
}
.projects-cards-img {
  width: 90vw;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin: 0;
}
.projects-copy {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.projects-tags {
  display: flex;
  gap: 0.5rem;
  font-size: var(--fs-base);
  align-items: center;
  justify-content: flex-end;
}
.projects-cards-title {
  font-size: var(--fs-base);
}
.projects-cards-text {
  max-width: 80vw;
}
.projects-buttom-img {
  width: 16px;
  height: 16px;
}
.projects-p-buttom {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: var(--menu-text-weight);
  border-radius: 1rem;
  padding: 0.5rem;
}
.projects-p-buttom:hover {
  background-color: var(--primary-hover);
  color: var(--background-color);
  transform: scale(1.05);
  transition: all 0.3s;
}
.projects-s-buttom {
  border-radius: 1rem;
  padding: 0.5rem;
  align-items: center;
}
.projects-s-buttom:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
/***********desktop***********/
@media screen and (min-width: 1023px) {
  .projects-cards {
    flex-direction: row;
    flex: 1;
    max-width: 98%;
  }
  .projects-cards-img {
    max-width: 100%;
  }
  .projects-cards-text {
    max-width: fit-content;
  }
}
