@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
/* ========================================CORES======================================== */

    --primary-color: #00FF66;
    --primary-hover: #00E65C;
    --background-color: #070C10;
    --card-color:#0E1317;
    --border-color:#14191C;

    --title-color: #FFFFFF;
    --text-color: #D5D8DC;

/*========================================TAMANHOS======================================== */

    --fs-sm: 0.5rem;
    --fs-base:1rem;
    --fs-g:2rem;
    --fs-xg:5rem;

/*========================================FONTE======================================== */
    --ftitle: "Montserrat";
    --ftexts: "Montserrat";

/*========================================PESO======================================== */
    --title-weight:700;
    --text-weight:400;
    --menu-text-weight:500;
/*========================================LAYOUT======================================== */

    --container-width: 1200px;
    --header-height: 80px;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--ftexts);
}
header{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
span{
    color: var(--primary-color);
    
}
a{
    display: flex;
    text-decoration: none;
    color: var(--title-color);
    gap: 0.4rem;
}
.logo{
    font-weight: var(--title-weight);
}
.navbar{
    display: flex;
    gap: 2rem;
}
.menu-itens{
    display: flex;
    gap: 2rem;

}
.btn-img{
    width: 1rem;
    height: 1rem;
    
}

.redes{
    display: flex;
    gap: 1rem;
}

