.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.technologies-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.technologies-cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--card-color);
  border-radius: 1.75rem;
  border: 1px solid var(--border-color);
  padding: 1rem;
  flex: 1;
  min-width: 4.5rem;
}
.technologies-cards-img {
  max-width: 6vw;
}
.technologies-cards-text {
  font-size: var(--fs-detail);
}
