/*==========mobile==========*/
.technologies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 5rem 1rem 1rem 1rem;
  border-top: 1px solid var(--border-color);
}
.technologies-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.technologies-copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.technologies-text {
  font-size: var(--fs-base);
  color: var(--text-color);
  line-height: 1.5;
}
.technologies-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}
.technologies-cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 1.25rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--card-color);
  transition: all 0.3s;
}
.technologies-cards-item:hover {
  border-color: var(--primary-hover);
  transform: scale(1.05);
}
.technologies-cards-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}
.technologies-cards-item-text {
  font-size: var(--fs-detail);
  color: var(--title-color);
  text-align: center;
}
.technologies-highlight {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  border: 1px solid var(--primary-hover);
  border-radius: 1rem;
  background-color: var(--secondary-hover);
}
.technologies-highlight-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.75rem;
  border: 1px solid var(--primary-hover);
  border-radius: 50%;
}
.technologies-highlight-img {
  width: 25px;
}
.technologies-highlight-copy {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.technologies-highlight-title {
  font-size: var(--fs-base);
  color: var(--primary-color);
}
.technologies-highlight-text {
  font-size: var(--fs-detail);
  color: var(--text-color);
}
/*==========tablet==========*/
@media screen and (min-width: 768px) {
  .technologies {
    padding: 5rem 2rem 1rem 2rem;
  }
  .technologies-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*==========desktop==========*/
@media screen and (min-width: 1024px) {
  .technologies-copy {
    max-width: 600px;
  }
  .technologies-cards {
    grid-template-columns: repeat(6, 1fr);
  }
}
